<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include('header') %>

    <h1> Student Report Card </h1>

    <ul>
        <% student.map((student) => { %>
            <li>
                <h3><p> Name : <%= student.name  %> </p>
                <p> Age : <%= student.age  %> </p>
                <p> Standard : <%= student.std  %> </p></h3>
            </li>
        <% }) %>
    </ul>

</body>
</html>